# OPENAI_API_KEY (필수)
# OPENAI_API_KEY = YOUR_OPENAI_API_KEY

# LANGSMITH_API_KEY (Session 2에서 사용)
# LANGSMITH_API_KEY="Input your key"
# LANGSMITH_TRACING=true
# LANGSMITH_PROJECT=day1-labs

# (Session 7에서 사용)
# TAVILY_API_KEY="Input your key"